@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.proud-indian {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 150px; 
    height: auto;
    z-index: 2;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(189deg, rgba(255,87,51,1) 17%, rgba(255,255,255,1) 60%, rgba(19,136,8,1) 100%); 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    color: #4700c1;
    border: 5px solid #330ab0;
    box-shadow: 0px 0px 10px rgba(68, 0, 216, 0.7), 0px 0px 20px rgb(0, 40, 172);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}

.clock ul li span{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock:after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #1d00db;
    border-radius: 50%;
    position: absolute;
}

.needle{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.needle span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 5px;
}